body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    position:relative;
}

#grad1 {
    height: 28px;
    background-color: rgb(230, 116, 116);
    background-image: linear-gradient(to right, violet, orange, yellow, green, blue, indigo, violet);
}

h1.display-7{
    color: rgb(58, 2, 2);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(145, 255, 0), 0 0 0.2em blue;
    font-size: 22px;
}

#blue-header{
    padding: 10px;
    margin: 25px;
    background: rgb(238, 180, 228);
    color: black;
    font-family:sans-serif;
    font-size: 16px;
    display: block;
    width: 750px;
    height:100px ;
    box-shadow: 2px 2px 5px grey;
}


.getText{
    width:40%;
    background: rgb(226, 230, 224);
    color: rgb(148, 27, 27);
    font-size: 22px;
    cursor: pointer;
}

p{
  font-size: 27px;
  color: black;
}
