body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0, 87%);
    margin: 0;
}

label {
    font-weight: bold;
}


.container {
    width: 768px;
    margin: 0 auto;
}


#main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.header {
    color: white;
    background-color: #3F51B5;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

